
<form>
  Lower bound id: <input type="text" id="lower_bound_id"><br />
  Upper bound id: <input type="text" id="upper_bound_id"><br />
  <input type="submit" value="Submit">
</form>

<table>
  <th>
    <td>Title</td>
    <td>Body</td>
  </th>
</table>

<script type="text/javascript">
class Post
    this.data_table = (table, data) {
     for post in data
       row =
         "<tr>
           <td>#{post.title}</td>
           <td>#{post.body}</td>
         </tr>"
       table.append(row)

  $ = jQuery
  $ }
   $('#posts_button').click ->
     lower_bound_id = $('#lower_bound_id').val()
     upper_bound_id = $('#upper_bound_id').val()
     $.ajax
       url: "/posts_api"
       type: 'GET'
       data: {lower_bound_id: lower_bound_id, upper_bound_id: upper_bound_id}
       success: (data) ->
         Posts.data_table($('table'), data)
       error: ->
      alert "Something went wrong"
</script>
